@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
  background: #ddd;
}

.board {
  position: relative;
  width:  500px;
  height: 500px;
  margin: 50px auto;
  border-radius: 9px;
  background: #BBADA0;
  z-index: 1;
}

.game-square {
  float: left;
  width:  100px;
  height: 100px;
  margin: 12.5px;
  text-align: center;
  border-radius: 5px;
  background-color: #CCC0B3;
}

.game-tile {
  position: absolute;
  background: #EDE0C8;
  width:  100px;
  border-radius: 5px;
  text-align: center;
  font-size: 2.5em;
  padding-top: 20px;
  height: 80px;
  font-family: 'Comic Sans MS', sans-serif;
}

.square-score {
  position: relative;
  margin: 42px auto;
}

.row-1 { top:   12.5px;  }
.row-2 { top:  137.5px;  }
.row-3 { top:  262.5px;  }
.row-4 { top:  387.5px;  }

.col-1 { left: 12.5px;   }
.col-2 { left: 137.5px;  }
.col-3 { left: 262.5px;  }
.col-4 { left: 387.5px;  }

.left-sidebar {
  float: left;
  margin-top: 60px;
  margin-left: 40px;
  font-size: 2em;
  font-family: 'Comic Sans MS', sans-serif;
  overflow-y: scroll;
  height: 450px;
}

#game-over {
  position: fixed;
  width:  500px;
  height: 500px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 9px;
  z-index: 500;
}

#game-over h1 {
  font-family: "Roboto";
  text-align: center;
  margin-top: 220px;
  font-size: -webkit-xxx-large;
  background-color: rgba(0,0,0,0.5);
  color:white;
  padding: 6px;
}

button {
  width:  90px;
  height: 45px;
  margin-bottom: 0;
  background: #EDE0C8;
  border: 1px solid #CCC0B3;
}

button:hover {
  background: #BBADA0;
}

.top-bar {
  clear: both;
  height: 60px;
}
.hidden { display: none; }
